@import "tailwindcss";

:root {
  --background: #111111; 
  --foreground: #ededed;
  
  --cromo-yellow: #FFC700;
  --cromo-yellow-hover: #E6B300; 
  --cromo-dark: #0a0a0a;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  
  --color-cromo: var(--cromo-yellow);
  --color-cromo-hover: var(--cromo-yellow-hover);
  --color-cromo-dark: var(--cromo-dark);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}


@media (prefers-color-scheme: light) {
  :root {
    --background: #fafafa;
    --foreground: #111111; 
  }
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
  scroll-behavior: smooth; 
}

::selection {
  background-color: var(--cromo-yellow);
  color: #000000;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.PhoneInputInput {
  background-color: transparent !important;
  outline: none !important;
  border: none !important;
  box-shadow: none !important;
}

.PhoneInputInput:focus {
  outline: none !important;
  border: none !important;
  box-shadow: none !important;
}

.PhoneInputCountrySelect {
  background-color: transparent !important;
  color: inherit !important;
}

.PhoneInputCountrySelect option {
  background-color: #18181b !important;
  color: #ffffff !important;
}

.PhoneInputCountrySelect:focus {
  outline: none !important;
}

